header.container {
    margin-bottom: 3em;
}

.container {
    width: 70%;
}

.input-row {
    margin-bottom: 3.4em;
    padding-right: 4em;
}

.btn {
    padding: 6px 42px;
    
    -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}
.error {
    color: crimson;
}

.panel-primary-right {
    border-color: #4caf50;
}

.panel-primary-right > .panel-heading-right {
    color: #FFF;
    background-color: #4caf50;
    border-color: #4caf50;
}

.view-animate-container {
    position:relative;
    height:500px!important;
    background:white;
    height:200px;
    overflow:hidden;
}

.view-animate {
    padding:10px;
}

.view-animate.ng-enter, 
.view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

    display:block;
    width:100%;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
}

.view-animate.ng-enter {
    left:100%;
}

.view-animate.ng-enter.ng-enter-active {
    left:0;
}

.view-animate.ng-leave.ng-leave-active {
    left:-100%;
}